:root {
    --color-primary: #4f4f4f;
    --color-brand: #647b64;
    --color-accent: #f3b562;
    --color-inverted: #fefefe;
    --color-white: #fff;
    --color-background: #f3f1ee;

    --social-icon-background: #dfd1c0;

    --gradient-decor: linear-gradient(164.26deg,
            rgba(239, 128, 49, 0) -335.51%,
            rgba(239, 128, 49, 0.15) -20.24%,
            rgba(239, 128, 49, 0) 119.45%);

    --header-height: 112px;

    --input-border: #bdbdbd;

    --bp-mobile: 480px;
    --bp-tablet: 768px;
    --bp-desktop: 1200px;
}