/* Features */
.features-container {
    position: relative;
}

.features-container::before {
    position: absolute;
    bottom: -32px;
    left: -136px;
    z-index: -1;
    width: 224px;
    height: 224px;
    background-image: url('../images/dots-decor.png');
    content: '';
}

.features-container::after {
    position: absolute;
    bottom: -32px;
    right: -136px;
    z-index: -1;
    width: 600px;
    height: 160px;
    background-image: var(--gradient-decor);
    transform: rotate(180deg);
    content: '';
}

.features-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 44px;

    @media (min-width: 480px) {
        flex-direction: row;
    }

    @include for-phone-only {
        border: 1px solid red;
    }
}

.features-item {
    @include for-tablet-portrait-up {
        flex-basis: calc((100% - 44px) / 2);
    }

    @include for-tablet-landscape-up {
        flex-basis: calc((100% - 88px) / 3);
    }

    @include for-desktop-up {

    }
}